/* General Styles */
body {
  font-family: "Roboto", Sans-serif;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  line-height: 1.6;

}

/* Heading Styles */
h1, h2, h3 {
  color: var(--text);
  margin-bottom: 10px;

}

h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

/* paragraph styles */
p {
  margin: 10px 0;
}

/*Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: var(--table-background);
  color: var(--table-text);
}

/* colors */
:variables {
--background: #485F76;
--text: #f3f3f3;
--top-menu: #925126;
--menu-color: #7A7A7A;
--menu-color-secondary: #54595F;
--menu-color-header: #383F4A;
--table-background: #f3f3f3;
--table-text: #485F76;
--button-primary: #B74444;
--button-secondar: hsl(0, 44%, 21%);
--button-hover: hwb(0 31% 5%);
}


.intro-vid {
  margin-top: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width:100%;
  height: auto;
  object-fit: scale-down;
  align-content: center;
}

.header-bar {
  position: fixed;
  top: 5px;
  background-color: #f5f6fa;
  border: 5px solid blue;
  width: 100%;
  padding:10px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

table {
  background-color: azure;
  color:darkslategray;
  font-size: 18px;
  align-content: center;
}